.userCard-main-div{
    /* width: 60vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    margin-right: 4vw;
}

.userName-container{
    width: 100%;
    /* margin-top: 7.5vw; */
    /* border: 1px solid #F95959; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3vw;
}
.profile-img-container{
    
    
}
.profile-img{
    width: 17vw;
    height: 17vw;
    margin: auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}


.username{
    font-family:IranSans_Light;
    font-size: 4.5vw;
    color:#FFD615;
}