.add-post-main{
  position: relative;
    /* height: 100vh; */
    background-color: #191f26;
}

.add-post-top-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    /* height: 15vw; */
    padding-bottom: 2vw;
}
.main-group-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: IranSans_UltraLight;
    border-left: 2px dashed #fff;
}

.main-group-img{
    width: 55%;
}
.main-group-lable{
    font-size: 3.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    white-space: nowrap;
}
.sub-group-lable{
    font-family: IranSans_Light;
    font-size: 5vw;
    
    color: #fff;
    white-space: nowrap;
}

.publish-button{
    border:1px solid #FFD615;
    border-radius: 7px;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: 3vw;
    width: 15vw;
}
.publish-btn-lable{
    color: #fff;
    font-family: IranSans_UltraLight;
}
.devider{
    margin-right: 2.5%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 5vw;
}
.title-sectoin{
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    
    padding-bottom: 5vw;
    position: relative;

}
.title-placeholder{
    font-size: 6vw;
    font-family: IranSans;
    color: rgba(255, 255, 255, 0.5);
    align-self: flex-end;
    
    white-space: nowrap;
    position: absolute;
    right: 5vw;
    z-index: 2;
}
.post-body-section{
    position: relative;
    display: flex;
    flex-direction: column;
}
.body-placeholder{
    font-family: IranSans_UltraLight;
    align-self: flex-end;
    color: #fff;
    margin-right: 5vw;
}
.toBlur{
    
    filter: blur(15px);
   -webkit-filter: blur(10px); 
   background-color: rgba(0, 0, 0, 0.305);
}
.popUp-section{
    width: 96%;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    top: 25vh;
    background-color: #30344A;
    padding-top: 7vw;
}

.title-input{
    width: 95%;
    background-color: #191f26;
    border: none;
    position: absolute;
    top: 0;
    text-align: right;
    z-index: 1;
    color: #fff;
    font-family: IranSans;
    font-size: 5vw;
    direction: rtl;
}

input:focus {
    outline:none;
 }



 .publish-detail-container{
    position: fixed;
    top: 100vh;
    border-radius: 20px 20px 0 0 ;
    background-color: #2c3742;
    box-shadow:0px -4px 6px #00000031 ;
    height: 70vh;
    width: 100vw;
    z-index: 3;
    animation-name: pdc;
    animation-duration: 0.7s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    
 }
 
 @keyframes pdc {
    from {top: 100vh;}
    to {top: 20vh;}
  }

  .publish-detail-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 12vw;
  }
  .publish-btn{
    position: fixed;
    bottom: 9vh;
      border:1px solid #FFD615;
      border-radius: 7px;
      padding-right: 5.5vw;
      padding-left: 5.5vw;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
      box-shadow:0px 3px 6px #00000031 ;
     
      width: 12vw;
      margin-left: 73vw;
  }
  .publish-btn-lable{
      font-family: IranSans_Light;
      font-size: 4vw;
  }
  .inputs-container{
    flex-direction: column;
    color: #B7B7B7;
    
  }
  .summery-container{
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10vw;
    height: 10vw;
  }
  .tag-container{
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 10vw;
    height: 10vw;
  }
  .tags-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10vw;
    height: 10vw;
    align-items: flex-start;
    justify-content:space-between;
  }
  .type-lable-container{
    border-bottom: 2px solid #B7B7B7;
    padding-bottom: 2vw;
    width: 14vw;
  }
  .type-lable{
    font-family: IranSans;
    font-size: 4vw;
  }
  .type-list-container{
    /* background-color: #fff; */
    overflow: scroll;
    max-height: 20vh;
  }
  .type-card{
    margin-top: 2vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #B7B7B7;
  }
  .type-card-lable{
    font-family: IranSans_Light;
    font-size: 3.8vw;
  }
  .publish-detail-input{
      background-color: #2c3742;
      border: none;
      min-height: 5vw;
      text-align: right;
      font-family: IranSans;
      color: rgb(230, 230, 230);
      font-size: 4vw;
      direction: rtl;
  }

  .bottom-line{
      width: 100%;
      box-shadow:0px 3px 6px #00000059 ;
      border: 1px solid #B7B7B7;
  }
  .bottom-line-selected{
      height: 1px;
      border: 1px solid #FFD615;
  }
  .placeHolder{
      position: absolute;
      top: 0;
      font-family: IranSans;
      font-size: 4vw;
      white-space: nowrap;
  }

  .upload-img-container{
      height: 30vw;
      border: 2px dashed #FFD615;
      border-radius: 20px;
      margin-bottom: 10vw;
      box-shadow:0px 3px 6px #0000001e ;
      overflow: hidden;
  }
  .upload-lable{
      font-size: 5vw;
      font-family: IranSans_Medium;
      color: #B7B7B7;
  }
  .coverImg{
    height: 28vw;
  }
  .draft-btn{
    border:1px solid #FFD615;
    border-radius: 10px;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-top: 0.65vw;
    padding-bottom: 0.75vw;
    box-shadow:0px 3px 6px #00000031 ;
    margin-left: 2.5vw;
    /* width: 19vw; */
    color: #fff;
  }
  .draft-btn-lable{
      font-size: 4vw;
      font-family: IranSans_Light;
      white-space: nowrap;
  }




  /* .sidebar-transition-enter-active {
    transition: opacity 0.5s;
    transition-delay: 0.2s;
  }
  .sidebar-transition-leave-active{
    transition: opacity 0.3s;
  } */

  .sidebar-transition-enter{
    right: -60vw;
  }
  .sidebar-transition-enter-to{
    
    animation-name: come;
    animation-duration: 0.5s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .sidebar-transition-leave-to{
    animation-name: go;
    animation-duration: 0.5s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes come {
    from {right: -60vw;}
    to {right: 0px; opacity: 1;}
  }
  @keyframes go {
    from {right: 0px;}
    to {right: -60vw;}
  }

 .draft-side-bar{
    height: 100vh;
    width: 60vw;
    position: fixed;
    bottom: 0;
    right: 0vw;
    background-color: rgb(26, 41, 73);
    z-index: 100;
    opacity: 1;
    overflow-y: scroll;
    /* border-left: 1px solid #FFD615; */
    box-shadow:-5px 0px 6px #0000005e ;
  }
  .sidebar-lable-container{
    margin-top: 2.5vh;
  }
  .sidebar-lable{
    color: #fff;
    font-family: IranSans;
    font-size: 5vw;
  }
  .list-looper{
      margin-top: 3vh;
      border-top: 1px solid #FFD615;
  }
  .deraft-card{
      width: 55vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      
      margin: auto;
      margin-top: 5vw;
      border-bottom: 1px solid #FFD615;
  }
  .draft-card-title{
    font-family: IranSans;
    font-size: 4vw;
    color: #fff;
  }
  .draft-card-summery{
    font-family: IranSans_Light;
    font-size: 3.25vw;
    color: rgb(212, 212, 212);
    margin-top: 1vw;
    margin-bottom: 1.8vw;
  }
  .publish-detail-publish-btn{
    position: absolute;
    bottom: 7vh;
    border:1px solid #FFD615;
    border-radius: 8px;
    padding-right: 5.5vw;
    padding-left: 5.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    box-shadow:0px 3px 6px #00000031 ;
    width: 32vw;
    margin-top: 2vw;
  }
  
  .go-to-login-container{
    position: fixed;
    top: 30vh;
    right: 5vw;
    width: 86vw;
    z-index: 20;
    font-family: IranSans_Light;
    font-size: 3.4vw;
    background-color: #2c3742;
    padding-bottom: 4vw;
    padding-top: 4vw;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 12px;
    color: #fff;
    box-shadow:0px 3px 6px #00000031 ;
    animation-name: showMsgBox;
    animation-duration: 0.5s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .go-to-login-btn{
    margin: auto;
    width: 15vw;
    font-family: IranSans;
    font-size: 4vw;
    border-radius: 7px;
    border: 1px solid #FFD615;
    margin-top: 5vw;
    box-shadow:0px 3px 6px #00000031 ;
    
  }

  
  
  @keyframes showMsgBox {
    from {right: -90vw;}
    to {right: 5vw; }
  }
