


/* ! for changing toolbar style go to quill.snow.css and then put your style in
! .ql-toolbar.ql-snow{...} class
*/
/* ! for changing container style go to quill.snow.css and then put your style in
! .ql-container.ql-snow{...} class
*/


.ql-container.ql-snow {
    /* border: 1px solid rgb(187, 43, 43); */
    background-color: #191f26;
   color:#fff; 
  }
  .ql-toolbar {
   /* ! nemidonam chera ro in class javab nemide */
   
  }




  /* !--------------------------------------------------------------- */
#editor{
    font-family:IranSans;
    
    position: relative;
    
}

.write-body-main{
    position: relative;
    min-height: 79vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #191f26;
}
.test{
    /* height:60vh ; */
    color: #fff;
    background-color: #191f26;
    
}



.submit{
    background-color: #fff;
    border:1px solid rgb(192, 79, 79);
    align-self: center;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
.ql-toolbar{
    
    /* width: 180px;
   
    right: 0; */
    
}
.img-body{
    width: 100%;
}

.totil{
    height: 25px;
    width: 180px;
    position: fixed;
    left: -90vw;
    bottom: -58px;
    z-index: 15;
    background-color: rgba(255, 255, 255, 00);
    
}

.bottom-space{
    position: relative;
    height:5vh;
    
}
.tooltip-button{
    position: absolute;
    left: 0vw;
    
    bottom: 7vh;
    z-index: 100;
    background-color: #191f26;
    height: 10vw;
    width: 11vw;
    display: flex;
    justify-content: flex-end;
}

.showTotilimg{
    width: 85%;
   
}

.totil-enter-active {
    transition: opacity 0s;
    animation: totil-rise 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
.totil-leave-active{
    transition: opacity 0s;
    animation: totil-fall 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  .totil-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    
  }

  @keyframes totil-rise {
    from {left: -120vw;opacity: 0;}
    to {left: -90vw;opacity: 1;}
}
  @keyframes totil-fall {
    from {left: -90vw;}
    to {left: -120vw;opacity: 0;}
}