
.profile-main-div{
    display: flex;
    flex-direction: column;
    background-color: #14213D;
}
.top-section{
    position: relative;
    height: 60vw;
    
}
.top-section-bc-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    
}
.profile-img-container{
    /* position: absolute;
    top: 6vw;
    right: 39vw; */
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:0px 3px 6px #00000028 ;
    background-image: url(../../icons/user.png);
    background-size: cover;
}
.top-section-text{
    position: absolute;
    top:2vw;
    /* height: 20vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.username-container{
    font-family: IranSans;
    font-size: 4vw;
    color: rgb(97, 97, 97);
    margin-bottom: 7vw;
    margin-top: 1.5vw;
}
.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.follower-section{
    display: flex;
    flex-direction: column;
}
.viewed-section{
    display: flex;
    flex-direction: column;
}
.number{
    font-size: 5.5vw;
    font-family: IranSans_Black;
}
.follower-section-lable{
    font-size: 3.5vw;
    font-family: IranSans_Light;
    color: #05050581;
}
.viewed-section-lable{
    font-size: 3.5vw;
    font-family: IranSans_Light;
    color: #05050581;
}




.middle-section{
    position: relative;
    
    /* height: 10vw; */
}
.tabs-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
    color: #fff;
    font-family: IranSans_Light;
    padding-top:3vw;
    padding-bottom:3vw;
}
.tab1-div{
    position: relative;
}
.tab2-div{
    position: relative;
}
.tab3-div{
    position: relative;
}
.colored-line{
    margin: auto;
    margin-top: 2vw;
    width: 20%;
    height: 0px;
    border: 0.5vw solid #F95959;
    background-color: #F95959;
    border-radius: 5px;
}

.devider-line{
    position: absolute;
    bottom: 3.25vw;
    right: 5vw;
    height: 0px;
    /* border: 1px solid #444967; */
    border: 1px solid #444967;
}

.tap-icon{
    width: 18%;
}

.fade-enter-active {
    transition: opacity 0.5s;
    transition-delay: 0.2s;
  }
.fade-leave-active{
    transition: opacity 0.3s;
}
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    
  }

  .animat-container-to-up{
    position: absolute;
    
    animation-name: up;
    animation-duration: 0.5s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  .animat-container-to-down{
    position: absolute;
    
    animation-name: down;
    animation-duration: 0.5s;  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes up {
    from {top: 60vw;}
    to {top: 0;}
  }
  @keyframes down {
    from {top: 0px;}
    to {top: 60vw;}
  }




  .two-icon-container{
      width: 96%;
      position: absolute;
      top: 1vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2vw;
      padding-left: 2vw;
      
  }
  .two-icon-img1{
      width: 6vw;
      
  }
  .two-icon-img2{
      width: 7vw;
  }