
*{
    color:#fff;
    font-family:IranSans_UltraLight;
    text-align:right;
}

.main{
    
}



.big{
    /* margin-top: 5vw; */
    position: relative;
    border-bottom:1px solid rgba(255, 214, 21);
    padding-right:3vw;
    padding-top: 2vw;
    padding-left: 0vw;
    
}
.small{
    position: relative;
    padding-right:3vw;
    padding-top: 2vw;
    padding-left: 0vw;
    
    /* margin-top: 3vw; */
    border-bottom:1px solid rgba(249, 89, 89); 
   
}

.username{
    display:block;
    font-family:IranSans_Medium;
}
.profile-img-div{
    margin-top: 0vw;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    box-shadow:0px 3px 6px #0000001e ;
    background-image: url(../../icons/user.png);
    background-size: cover;
    overflow: hidden;
}
.profile-img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}
.mtb{
    
    margin-top: 5vw;
    margin-right: 5%;
}
.mts{
    
    margin-top: 3vw;
    margin-right: 15%;
}  

.reply{
    position: absolute;
    bottom: 2vw;
    left: -9vw;
    /* color: rgba(245, 58, 58, 0.8);
    color: rgba(0, 243, 53, 0.822);
    color: rgb(255, 81, 0); */
    color:rgba(249, 89, 89);
}
.mizouniat-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    margin-top: 6vw;
    margin-bottom: 1.5vw;
}
.mizoun-img{
    width: 5.75vw;
    margin-left: 1vw;
}
.namizoun-img{
    width: 5.75vw;
    margin-left: 1.5vw;
}
.mizount-count{
    margin-left: 7vw;
    font-family: IranSans_Light;
    font-size: 3.5vw;
}
.namizoun-count{
    font-family: IranSans_Light;
    font-size: 3.5vw;
}